page {
  background-color: #efeff4;
}

.common-bg {
  position: fixed;
  width: 100%;
  height: 850rpx;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.fixed-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 95rpx;
  z-index: 1;

  .screen-box {
    display: flex;
    align-items: center;
    margin: 10rpx 20rpx 20rpx;
    padding: 15rpx;
    background-color: #fff;
    border-radius: 20rpx;
    font-size: 25rpx;
    box-shadow: 0 5rpx 15rpx #aaa;

    .row {
      display: flex;
      align-items: center;
      margin: 10rpx 0;
      .label {
        width: 130rpx;
        text-align: right;
      }
      .input-sty {
        padding: 6rpx 12rpx;
        border: 1px solid #ddd;
        border-radius: 4rpx;
      }

      .time-sty {
        flex: 1;
        display: flex;
      }
    }

    .btn-search {
      margin-left: 20rpx;
      width: 140rpx;
      height: 65rpx;
      line-height: 65rpx;
      background-image: linear-gradient(90deg, #5869ff 0%, #6392ff 100%);
      color: #fff;
      border: none;
      border-radius: 12rpx;
      font-size: 30rpx;
    }
  }
}
.video-play {
  width: 100%;
  height: 400rpx;
  background-color: #000;
}

.video-wrapper {
  margin-top: 620rpx;
  
  .video-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20rpx;
    padding: 10rpx 25rpx 20rpx;

    .video-item {
      background-color: #fff;
      border-radius: 24rpx;
      box-shadow: 0 5rpx 15rpx #ddd;
      overflow: hidden;
      .video-img {
        display: block;
        width: 100%;
        height: 150rpx;
      }
  
      .video-title {
        margin: 15rpx 10rpx;
        font-size: 26rpx;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-align: center;
      }
    }
  }
}
